<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Node JS <%= title %></title>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    
    <%- include('./partials/nav.ejs')%>

    <div class="blogs content">
        <h2>Page not found</h2>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>