<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis doloremque temporibus in cum recusandae tempore neque itaque quae, accusamus repellat dolore nostrum expedita asperiores, incidunt facilis? Rem, rerum id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis doloremque temporibus in cum recusandae tempore neque itaque quae, accusamus repellat dolore nostrum expedita asperiores, incidunt facilis? Rem, rerum id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis doloremque temporibus in cum recusandae tempore neque itaque quae, accusamus repellat dolore nostrum expedita asperiores, incidunt facilis? Rem, rerum id.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>